@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');
body{
  color: black;
  background-image: url(https://tse2.mm.bing.net/th?id=OIP.Zlws0QtpL7xH1M0ctfSsQQDaEs&pid=15.1);
}
p{

  text-decoration: bold;
  font-family: 'Noto Serif', serif;
  text-align: center;
  font-size: 30px;
}
h1{
font-family: 'Roboto', sans-serif;
      text-align: center;
    font-size: 28px;
}



img{
  text-align: center;
  width: 100%;
  height: 150px;
}

h2{
  font-family: 'Noto Serif', serif;
  text-align: center;
  font-size: 26px;
}
h3{
  text-align: left;
  font-size: 20px;
  text-decoration: underline;
  text-decoration: bold;
}
h4{
  text-align: left;
  font-size: 18px;
}
header{
      border: 1px black solid;
    padding: 20px;
}
footer{
      border: 1px black solid;
    padding: 20px;
}
article{
      border: 1px black solid;
    padding: 20px;
    /*float: right;*/
    font-size: 20px;
}
nav{
    border: 1px black solid;
    padding: 20px;
}
a{
  text-align: center;
  font-size: 28px;
  color:black;
}
a:hover{
  color:red;
}

}
aside{
  /*float: left;*/
  font-size: 20px;
}
#two_column {
    background-color: #f70000;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #418ff4;
    border: 1px black solid;
    padding: 20px;
float: left;
width: 30%;
}

#right {
    background-color: #f44242;
    border: 1px black solid;
    padding: 20px;
float: right;
width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
