body{
  color: black;
  background-image: url(https://tse2.mm.bing.net/th?id=OIP.Zlws0QtpL7xH1M0ctfSsQQDaEs&pid=15.1);
}
body p{
  text-align: center;
  font-size: 30px;
}
body h1{
  text-align: center;
  font-size: 28px;

}
body img{
  text-align: center;
  width: 100%;
  height: 150px;
}

body h2{
  text-align: center;
  font-size: 26px;
}
body h3{
  text-align: left;
  font-size: 20px;
  text-decoration: underline;
  text-decoration: bold;
}
body h4{
  text-align: left;
  font-size: 18px;
}
